name: Install from source
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.6', '3.7', '3.8', '3.9' ]
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}
      -
        name: Install Dependencies and ScriptEngine
        run: |
          python -m pip install --upgrade pip
          python -m pip install --editable .
      -
        name: Test run ScriptEngine cli (version)
        run: |
          se --version
      -
        name: Test run ScriptEngine cli (help)
        run: |
          se --help
      -
        name: Test run ScriptEngine cli (tutorial)
        run: |
          cd docs/tutorial
          se --nocolor --loglevel debug tutorial.yml
