name: PyTest
on: push

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [ '3.6', '3.7', '3.8', '3.9' ]

        steps:

            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup Python
              uses: actions/setup-python@v2
              with:
                python-version: ${{matrix.python-version}}

            - name: Install Dependencies and ScriptEngine
              run: |
                python -m pip install --upgrade pip
                python -m pip install --editable .
                python -m pip install flake8
                python -m pip install pytest

            - name: Lint with flake8
              run: |
                # Syntax errors or undefined names
                flake8 --count --select=E9,F63,F7,F82 --show-source --statistics scriptengine/
                # All other stuff
                flake8 --exit-zero --count --statistics --exclude=__init__.py --max-line-length=88 scriptengine/

            - name: Run PyTest
              run: python -m pytest --import-mode=append tests/
